# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

**Objectives:**
- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scipy

|Data Science Tools|
|------------------|
|Python|
|R|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2 + 3

5

In [2]:
2 ** 3

8

In [3]:
3 - 2

1

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

Luis Arturo Huerto Valentin

Author